h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Caprasimo', 'pretendard', cursive;
    margin: 0;
    font-weight: 700;
    letter-spacing: 1.2px;
}


ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_inner,
.section_inner {
    max-width: 90%;
    height: 100%;
    margin: auto;
}

