/* font */
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');


* {
    font-family: 'pretendard';
}

/* profile page skill section modal.active 시에 
body overflow hidden 적용되도록 */
body.active {
    overflow: hidden;
}

.container {
    overflow: hidden;
    width: 100%;
    background-color: #fff;
}


/* custom css */
/*------[start] gototop --------*/
.gototop {
    z-index: 10;
    position: fixed;
    bottom: 1.25rem;
    right: -3.125rem;
    font-size: 3.125rem;
    color: #385E81;
    border-radius: 100%;
    transition: 0.3s;
}

.gototop.active {
    right: 3.125rem;
}

.gototop:hover {
    animation: bounce 0.5s infinite;
}

/*======[end] gototop =========*/
/*------[start] header --------*/

header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: 0.5s;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
}

header.active {
    opacity: 1;
    visibility: visible;
    background-color: #fff;
    box-shadow: -0.25rem 0.5rem 0.625rem 0.25rem rgba(114, 114, 114, 0.212);
    -webkit-box-shadow: -0.25rem 0.5rem 0.625rem 0.25rem rgba(114, 114, 114, 0.212);
}

.header_inner nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-family: 'Caprasimo', cursive;
    font-size: 32px;
    padding: 0.4375rem 0.6875rem;
    margin: 0.1875rem 0 0.1875rem 0;
    color: #385E81;
    letter-spacing: 2.4px;
}

nav .gnb {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.gnb .gnb_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.125rem;
    font-size: 17.6px;
    text-transform: uppercase;
    font-weight: 900;
}

.gnb_menu li {
    position: relative;
    transition: 0.3s;
}

nav .gnb li::after {
    content: "";
    width: 0.625rem;
    height: 0.625rem;
    position: absolute;
    top: -0.3125rem;
    right: -0.9375rem;
    transform: translateY(-3%);
    background-color: #385E81;
    border-radius: 100%;
    opacity: 0;
    transition: all 0.3s;
}

nav .gnb li:hover a {
    color: #385E81;
}

nav .gnb li:hover::after {
    opacity: 1;
}

.trigger_wrap,
.trigger {
    display: none;
}

/*====== [end] header =========*/

/********* [start] welcome section ***********/
.welcome_page {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #fff;
    color: #4080A0;
    text-transform: uppercase;

}

.welcome_page h6 {
    width: 9.375rem;
    position: absolute;
    top: 0.9375rem;
    left: 0.9375rem;
    font-size: 12.8px;
    line-height: 17.6px;
    text-align: center;
}


.welcome_page h1{
    font-size: 6.5vw;
    width: 45%;
    position: absolute;
    bottom: 0;
    right: -50%;
    transform: translateY(-20%);
    text-shadow: 0 0.25rem 0.25rem rgba(114, 114, 114, 0.576);
    transition: all 0.7s ease-in-out;
}
.welcome_page h1.active{
    right: 0;
}



/*============ [end] welcome section ============*/

/************* [start] profile section **********/
.profile_page {
    background-color: #f4f4f4;
    position: relative;
}

.profile_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1.875rem;
    font-size: 36.16px;
}

.r_animation {
    overflow: hidden;
    margin-left: 8px;
}

.r_animation .rolling1 div {
    animation: TextRolling1 2s ease infinite;
}

.r_animation .rolling2 div {
    animation: TextRolling2 2s ease infinite;
}

.profile_title .r_animation div {
    font-size: 36.8px;
    color: #385E81;
    letter-spacing: 0.5008px;
}

@keyframes TextRolling1 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes TextRolling2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}
.profile_title p {
    margin: 0;
}

.profile_page .profile_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------- profile img -------*/
.profile_wrap .profile_img {
    width: 50%;
}

.profile_wrap .profile_img h3,
.profile_wrap .profile_img .profile_imgwrap,
.profile_wrap .profile_img h6 {
    text-align: center;
    padding-top: 1.875rem;
}

.profile_wrap .profile_img h3 {
    font-size: 35.2px;
    color: #f4f4f4;
    text-shadow: -0.125rem 0 #385E81, 0 0.125rem #385E81, 0.125rem 0 #385E81, 0 -0.125rem #385E81;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    animation: bounce 0.7s infinite ease-in-out;
}

.profile_img h3 small {
    font-size: 14.4px;
    text-shadow: none;
    color: #385E81;
    letter-spacing: -1.12px;
    display: block;
}


@keyframes bounce {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, 0.625rem, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);

    }
}

.profile_img .profile_imgwrap {
    width: 100%;
    height: 50%;
    position: relative;
    margin: auto;
}

.profile_imgwrap img {
    filter: drop-shadow(-0.9375rem 0.1875rem 0 #385e818d);
    position: relative;
}

.tooltip .tip_box {
    width: 13%;
    position: absolute;
    top: 3.125rem;
    left: 1.25rem;
    padding: 0.5rem 0.9375rem;
    border-radius: 0.3125rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.1008px;
    border: 0.0625rem solid transparent;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    z-index: 3;
}

.tooltip .tip_box:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 40%;
    border: 0.625rem solid transparent;
    border-top: 0.75rem solid rgba(0, 0, 0, 0.8);
}

.profile_imgwrap img:hover {
    cursor: pointer;
}

.profile_imgwrap img:hover+.tooltip .tip_box {
    opacity: 1;
    visibility: visible;
}

.tooltip .tip_box:nth-child(1) {
    top: 30%;
    left: 15%;
    padding: 0.5rem 0.625rem;
    transform: rotate(-38deg);
}

.tooltip .tip_box:nth-child(2) {
    width: 5rem;
    top: 7%;
    left: 27%;
    padding: 0.5rem 0.625rem;
    transform: rotate(-15deg);
    transition-delay: 0.3s;
}

.tooltip .tip_box:nth-child(3) {
    width: 13%;
    top: 3%;
    left: 52%;
    padding: 0.5rem 0.625rem;
    transform: rotate(12deg);
    transition-delay: 0.4s;
}

.tooltip .tip_box:nth-child(4) {
    width: 13%;
    top: 20%;
    left: 65%;
    padding: 0.5rem 0.625rem;
    transform: rotate(25deg);
    transition-delay: 0.1s;
}

.tooltip .tip_box:nth-child(5) {
    top: 43%;
    left: 70%;
    transform: rotate(40deg);
    transition-delay: 0.5s;
    letter-spacing: 0.1563rem;
}

.profile_img h6 {
    width: 43%;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 32px;
    font-weight: 900;
    color: #385E81;
    margin: auto;
}

/*------- progile text -------*/
.profile_wrap .profile_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.625rem;
}

.profile_text .profile_textwrap {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile_textwrap .pro_subtitle {
    position: relative;
    font-size: 1.5625rem;
    text-transform: uppercase;
    color: #385E81;
    margin: 1.875rem 0 1.5625rem 0;
}

.pro_subtitle::after {
    content: '';
    width: 7%;
    height: 0.1875rem;
    position: absolute;
    background-color: #385E81;
    display: block;
    margin: 0.5rem 0;
}

.profile_textwrap .myprofile {
    width: 100%;
}

.profile_textwrap .myprofile div {
    background-color: #fff;
    padding: 1.25rem;
    margin-top: 0.625rem;
    border-radius: 1.25rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0rem 0.125rem 0.5rem 0rem;
}

.profile_textwrap .myprofile li {
    line-height: 1.8rem;
    font-weight: 500;
}

.profile_textwrap .myprofile li::before {
    content: '●';
    font-size: 0.4rem;
    padding-right: 0.4375rem;
    color: #385E81;
    vertical-align: middle;
    line-height: 1.25rem;
}

.myprofile h6 {
    margin-top: 0.625rem;
    line-height: 1.8rem;

    color: #385E81;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.myprofile .study {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.9375rem;
    margin-top: 0.3125rem;
    transition: 0.2s;
}

.myprofile .study a>i {
    font-size: 2.5rem;
    color: #000;
}

.myprofile .study a>img {
    width: 36px;
    border-radius: 0.1875rem;
    margin: 0.375rem 0 0 0;
}

.myprofile .study a>i:hover,
.myprofile .study a>img:hover {
    transform: scale(1.1);
}

.profile_textwrap .myskill {
    width: 100%;
    position: relative;
    margin-top: 0.3125rem;
}

.myskill .pro_subtitle::before {
    content: '제 skill을 클릭 해주세요😄';
    position: absolute;
    bottom: 5%;
    left: 15%;
    font-size: 0.7rem;
    letter-spacing: -0.0437rem;
}

.myskill strong {
    font-size: 17.6px;
    text-transform: uppercase;
}

.myskill .skills {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.25rem 0 0.9375rem 0;
    gap: 0.9375rem
}

.myskill .skills>span {
    padding: 0.5rem 0.8125rem;
    border-radius: 0.625rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0rem 0.125rem 0.5rem 0rem;
    cursor: pointer;
    transition: 0.3s;
}

.myskill .skills>span:hover {
    transform: scale(1.05);
    box-shadow: 0rem 0rem 0.9375rem #0000007e;
}

/* skill modal */
.modal {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 24px;
    border-radius: 1.875rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0rem 0.625rem 1.25rem, rgba(0, 0, 0, 0.23) 0rem 0.375rem 0.375rem;
    display: none;
    z-index: 99;
}
.modal.active {
    display: block;
}

.modal .modal_text {
    padding: 1.25rem;
    text-align: center;
}

.modal_text p {
    line-height: 1.8rem;
}

.modal_text .close_btn {
    width: 100%;
    font-size: 24px;
    border: none;
    background-color: transparent;
    text-align: right;
    transition: 0.2s;
}

.modal_text .close_btn:hover {
    color: #ff0000;
    cursor: pointer;
}

.modal_text h3 {
    text-transform: uppercase;
}

.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    display: none;
}

.modal_background.active {
    display: block;
}

/* career */
.profile_text .mycareer {
    width: 100%;
    margin-bottom: 3.125rem;
}

.profile_text .mycareer ul {
    padding: 1.25rem;
    margin-top: 0.625rem;
    border-radius: 1.25rem;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0rem 0.125rem 0.5rem 0rem;

}

.profile_text .mycareer ul li {
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 0.5rem;
}

.profile_text .mycareer ul li:last-child {
    margin-bottom: 0;
}

.mycareer ul li::before {
    content: '●';
    font-size: 0.4rem;
    padding-right: 0.4375rem;
    color: #385E81;
    vertical-align: middle;
    line-height: 1.25rem;
}


.mycareer ul li span {
    display: block;
    font-size: 14.88px;
    text-indent: 14.88px;
}

/*============ [end] profile section ============*/

/*----------- [start] gallery page------------- */
.gallery_page {
    width: 100%;
    color: #fff;
    background-color: #fff;
}

.gallery_page h1 {
    margin-top: 8%;
    color: #4080A0;
    font-size: 72px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0.25rem 0.25rem rgba(114, 114, 114, 0.576);
}

.pin_container {
    width: 100%;
    position: relative;
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.pin_container .gallery_items {
    width: 80%;
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.gallery_items .gallery_item {
    margin: 4.375rem;
}

/* [start] gallery item slide css */
/* 홀 */
.gallery_items #Gitem1,
.gallery_items #Gitem3,
.gallery_items #Gitem5,
.gallery_items #Gitem7,
.gallery_items #Gitem9,
.gallery_items #Gitem11 {
    transform: translateX(70%);
    transition: all 0.8s;
}

.gallery_items #Gitem1.on,
.gallery_items #Gitem3.on,
.gallery_items #Gitem5.on,
.gallery_items #Gitem7.on,
.gallery_items #Gitem9.on,
.gallery_items #Gitem11.on {
    transform: translateX(10%);
}

/* 짝 */
.gallery_items #Gitem2,
.gallery_items #Gitem4,
.gallery_items #Gitem6,
.gallery_items #Gitem8,
.gallery_items #Gitem10,
.gallery_items #Gitem12 {
    transform: translateX(-140%);
    transition: all 0.8s;
}

.gallery_items #Gitem2.on,
.gallery_items #Gitem4.on,
.gallery_items #Gitem6.on,
.gallery_items #Gitem8.on,
.gallery_items #Gitem10.on,
.gallery_items #Gitem12.on {
    transform: translateX(-10%);
}

/* [end] gallery item slide css */



.gi1 .gallery_item:nth-child(odd) {
    margin-right: 40%;
}

.gi1 .gallery_item:nth-child(even) {
    margin-left: 40%;
}

.gi2 .gallery_item:nth-child(odd) {
    margin-left: 40%;
}

.gi2 .gallery_item:nth-child(even) {
    margin-right: 40%;
}

.gallery_items h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 115.2px;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    text-shadow: 0 0.25rem 0.25rem rgba(114, 114, 114, 0.197);
}


.gallery_item {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 100% 0;
    border-radius: 0.625rem;
}

.gallery_item img {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.25rem rgba(114, 114, 114, 0.197);
}

.gallery_item .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    border-radius: 0.625rem;
    font-size: 14.4px;
}

.gallery_item .mo_overlay {
    display: none;
}

.overlay span {
    display: block;
}

.pin_container a:hover {
    box-shadow: none;
}

.pin_container a:hover .overlay {
    opacity: 1;
    visibility: visible;
}

/*============ [end] gallery page============ */
/*----------- [start] portfolio page------------- */
.publishing_page {
    background-color: #f4f4f4;
}

.swiper_container {
    width: 100%;
    position: relative;
}

.swiper-slide {
    margin: 15% 0 5% 0;
}

.swiper-slide .swiper_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9%;
}

.swiper_inner .slide_text h1,
.slide_text .slide_btns a {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.075rem;
}

.slide_text {
    padding: 0.9375rem;
}

.slide_text h1 {
    font-size: 40px;
    padding-bottom: 1.25rem;
    letter-spacing: -0.0437rem;
    color: #385E81;
    text-shadow: 0 0.25rem 0.25rem rgba(114, 114, 114, 0.197);
}

.slide_text ul li {
    margin-bottom: 0.9375rem;
    font-weight: 500;
    font-size: 15.36px;
}

.slide_text .slide_btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    margin-top: 7%;
}

.slide_text .slide_btns button {
    padding: 0.3125rem 0.5rem;
    background-color: #385E81;
    border: 0.0625rem solid #4040406d;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.25rem rgba(114, 114, 114, 0.197);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: absolute !important;
    bottom: 2.5rem !important;
    left: 0;
    width: 100%;
}

.slide_text .slide_btns a {
    color: #f4f4f4;
}

.slide_img .one_img_app {
    margin: 0 0 3.125rem 0;
}

.slide_img .one_img {
    margin-left: 10%;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 0.5rem;
    height: 0.5rem;
    background-color: transparent;
    border: 0.0625rem solid #385E81;
    opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
    width: 2.5rem;
    transition: .5s;
    border-radius: 0.3125rem;
    background-color: #385E81;
    border: 0.0625rem solid transparent;
}

/*============ [end] portfolio page============ */
/*--------- [start] contact page --------------*/
.contact_page {
    background-color: #fff;
    padding-bottom: 8%;
}

.contact_page h1 {
    margin-top: 8%;
    margin-bottom: 2%;
    color: #4080A0;
    font-size: 72px;
    text-transform: uppercase;
    text-shadow: 0 0.125rem 0.125rem rgba(114, 114, 114, 0.576);
}

.contact_page .section_inner>p {
    width: 40%;
    font-weight: 500;
    font-size: 17.6px;
    line-height: 27.2px;
}

.contact_page .contact_inner {
    margin-top: 5%;
    text-align: center;
    padding: 3.125rem 1.875rem;
    border-radius: 1.875rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0rem 0.125rem 0.5rem 0rem;
}

.contact_inner a {
    width: 50%;
    margin: auto;
    margin-top: 1.875rem;
    padding: 0.9375rem 0.625rem;
    display: block;
    font-weight: 700;
    font-size: 24px;
    background-color: #4080A0;
    border-radius: 0.625rem;
    color: #f4f4f4;
    box-shadow: inset 0 -0.5rem 0 rgba(0, 0, 0, .2),
        0.0625rem 0.0625rem 0 0 #2a445d,
        0.125rem 0.125rem 0 0 #2a445d,
        0.1875rem 0.1875rem 0 0 #2a445d;
    transition: 0.5s;
}

.contact_inner a:hover {
    box-shadow: inset 0 -0.25rem 0 0 rgba(0, 0, 0, .2),
        0.0625rem 0.0625rem 0 0 #2a445d
}

.contact_inner p {
    font-size: 19.2px;
    padding-top: 3.125rem;
    font-weight: 500;
}


/*============ [end] contact page============ */

/*######### [start] responsive css ###########*/
/* tablet ver */
@media screen and (max-width: 1024px) {

    /* responsive gototop */
    .gototop {
        right: -3.125rem;
        font-size: 38.4px;
    }

    .gototop.active {
        right: 1.25rem;
    }

    .gototop:hover {
        animation: none;
    }

    /* responsive header */
    header {
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        background-color: #fff;
        opacity: 1;
        visibility: visible;
        box-shadow: -0.25rem 0.5rem 0.625rem 0.25rem rgba(114, 114, 114, 0.212);
        -webkit-box-shadow: -0.25rem 0.5rem 0.625rem 0.25rem rgba(114, 114, 114, 0.212);
    }

    .header_inner .logo {
        display: none;

    }

    .header_inner nav {
        width: 30%;
        height: 100vh;
        display: block;
        position: fixed;
        top: 0;
        left: -50%;
        background-color: #f2f2f2;
        z-index: 150;
        transition: all 0.6s;
    }

    nav.active {
        left: 0;
        box-shadow: 0.75rem 0rem 0.9375rem 0rem rgba(0, 0, 0, 0.14);
        -webkit-box-shadow: 0.75rem 0rem 0.9375rem 0rem rgba(0, 0, 0, 0.14);
    }

    nav .gnb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .gnb .gnb_menu {
        width: 100%;
        margin: 9.375rem 0 0 0.9375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3.125rem;
        font-size: 17.6px;
        text-transform: uppercase;
        font-weight: 900;
    }

    .gnb_menu li {
        position: inherit;
        transition: 0.3s;
        text-align: left;
        width: 80%;
        padding-bottom: 0.625rem;
    }

    nav .gnb li a {
        color: #4080A0;
        text-shadow: 0 0.125rem 0.125rem #40404064;
    }

    nav .gnb li::after {
        display: none;
    }

    nav .gnb li:hover a {
        color: inherit;
    }

    nav .gnb li:hover::after {
        opacity: 0;
    }

    .trigger_wrap {
        width: 100%;
        height: 3.125rem;
        position: absolute !important;
        top: 0;
        left: 0;
        display: block;
        background-color: #fff;
        box-shadow: -0.25rem 0.5rem 0.625rem 0.25rem rgba(114, 114, 114, 0.212);
        -webkit-box-shadow: -0.25rem 0.5rem 0.625rem 0.25rem rgba(114, 114, 114, 0.212);
    }

    .trigger {
        display: block;
        position: fixed !important;
        width: 1.875rem;
        height: 1.25rem;
        z-index: 350;
        margin: 0.8438rem 0 0 1.25rem;
    }

    .trigger>span {
        position: absolute;
        width: 100%;
        height: 0.25rem;
        right: 0;
        background-color: #4080A0;
        border-radius: 0.625rem;
        transition: all 0.3s;
    }

    .trigger span:nth-child(1) {
        top: 0;
    }

    .trigger span:nth-child(2) {
        top: 50%;
        width: 70%;
        margin-right: 0.5rem;
    }

    .trigger span:nth-child(3) {
        top: 100%;
    }

    .trigger.active span:nth-child(1) {
        transform: rotate(45deg);
        top: 50%;
    }

    .trigger.active span:nth-child(2) {
        opacity: 0;
        visibility: hidden;
    }

    .trigger.active span:nth-child(3) {
        transform: rotate(-45deg);
        top: 50%;
    }

    /* responsive  welcome page */
    .welcome_page h6 {
        width: 9.375rem;
        position: absolute;
        font-size: 12.8px;
        line-height: 17.6px;
        text-align: center;
        text-shadow: 0 0.125rem 0.125rem rgba(114, 114, 114, 0.576);
    }

    /* responsive  profile page */
    .profile_page .profile_title {
        font-size: 25.6px;
    }

    .profile_title .r_animation div {
        font-size: 30.4px;
    }

    .profile_page .profile_wrap {
        width: 100%;
        flex-direction: column;
    }

    .profile_wrap .profile_img {
        width: 100%;
    }

    .profile_wrap .profile_img h3 {
        display: none;
    }

    .profile_img .profile_imgwrap {
        width: 70%;
    }

    .profile_imgwrap img {
        width: 50%;
        margin-top: 10%;
    }

    .tooltip .tip_box {
        display: none;
    }

    .profile_img h6 {
        width: 100%;
        font-size: 19.2px;
        text-transform: uppercase;
        line-height: 32px;
        font-weight: 900;
        color: #385E81;
        margin: auto;
    }

    .profile_wrap .profile_text {
        width: 100%;
    }

    .profile_text .profile_textwrap {
        width: 100%;
    }

    .profile_textwrap .pro_subtitle {
        position: relative;
        font-size: 21.6px;
        text-transform: uppercase;
        color: #385E81;
        margin: 1.875rem 0 1.5625rem 0;
    }

    .profile_textwrap .myprofile {
        width: 100%;
    }

    .profile_textwrap .myprofile div {
        margin-top: 0.625rem;
        border-radius: 1.25rem;
    }

    .profile_textwrap .myskill {
        width: 100%;
        position: relative;
    }

    .myskill .pro_subtitle::before {
        bottom: 5%;
        left: 11%;
        font-size: 11.2px;
    }

    .myskill strong {
        font-size: 16px;
        text-transform: uppercase;
    }

    .myskill .skills {
        font-size: 14.4px;
    }

    .myskill .skills>span:hover {
        transform: inherit;
        box-shadow: inherit;
    }

    /* responsive skill modal */
    .modal {
        width: 60%;
        max-height: 90%;
        overflow: scroll;
    }

    .modal_text .close_btn {
        color: #ff0000;
        cursor: pointer;
    }

    .modal_text .close_btn:hover {
        color: inherit;
        cursor: inherit;
    }

    /* responsive gallery page */

    .gallery_page h1 {
        font-size: 3.5rem;
    }

    .gallery_items h2 {
        top: 48%;
        font-size: 6rem;
    }

    .gallery_item .overlay {
        display: none;
    }

    .gallery_item .mo_overlay {
        display: block;
        color: #404040;
        font-size: 0.8rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        margin-top: 0.625rem;
        line-height: 1.2rem;
    }

    .mo_overlay span {
        display: block;
    }

    .pin_container a:hover {
        box-shadow: none;
    }

    .pin_container a:hover .overlay {
        opacity: 1;
        visibility: visible;
    }

    /* responsive portfolio page */
    .swiper-slide {
        margin: 8% 0;
    }

    .swiper-slide .swiper_inner {
        flex-direction: column-reverse;
    }

    .swiper-slide .slide_text {
        text-align: center;
    }

    .swiper-slide .slide_img {
        padding-right: 0.625rem;
    }

    .slide_text h1 {
        text-align: center;
        font-size: 27.2px;
        margin-top: 3%;
    }

    .slide_text ul li {
        font-size: 14.4px;
    }

    .slide_text .slide_btns {
        gap: 1.25rem;
        align-items: center;
        justify-content: center;
    }

    .slide_img .one_img_app {
        margin: 0 0 1.25rem 0;
    }

    .slide_img .one_img {
        margin-left: 0;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 0.9375rem !important;
        z-index: 2 !important;
    }

    /* responsive contact */

    .contact_page h1 {
        font-size: 51.2px;
    }

    .contact_page .section_inner>p {
        font-size: 15.68px;
        line-height: 22.4px;
    }

    .contact_page .contact_inner {
        margin-top: 5%;
        text-align: center;
        padding: 3.125rem 1.875rem;
        border-radius: 1.875rem;
    }

    .contact_inner a {
        font-size: 16px;
    }

    .contact_inner a:hover {
        box-shadow: inherit;
    }

    .contact_inner p {
        font-size: 13.6px;
        padding-top: 1.875rem;
    }
}

/* moblie ver */
@media screen and (max-width: 48rem) {

    /* responsive header */
    .header_inner nav {
        width: 50%;
        left: -50%;
    }

    nav.active {
        left: 0;
    }

    /* responsive  welcome page */
    .welcome_page h6 {
        display: none;
    }

    .welcome_page h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 3rem;
        padding: 0.9375rem;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        box-sizing: border-box;
        transition: .8s ease-in-out;
    }
    .welcome_page h1.active {
        top: 50%;
    }

    /* responsive  profile page */
    .profile_page .profile_title {
        font-size: 17.6px;
        padding-top: 2.5rem;
    }

    .profile_title .r_animation div {
        font-size: 20.8px;
    }

    .profile_page .profile_wrap {
        width: 100%;
        flex-direction: column;
    }

    /*------- progile img -------*/
    .profile_wrap .profile_img {
        width: 100%;
    }

    .profile_wrap .profile_img h3 {
        display: none;
    }

    .profile_img .profile_imgwrap {
        width: 80%;
    }

    .profile_imgwrap img {
        width: 60%;
        margin-top: 10%;
    }

    .tooltip .tip_box {
        display: none;
    }

    .profile_img h6 {
        width: 55%;
        font-size: 19.2px;
        text-transform: uppercase;
        line-height: 32px;
        font-weight: 900;
        color: #385E81;
    }

    /*------- progile text -------*/
    .profile_wrap .profile_text {
        width: 100%;
    }

    .profile_text .profile_textwrap {
        width: 100%;
    }

    .profile_textwrap .pro_subtitle {
        position: relative;
        font-size: 20px;
        text-transform: uppercase;
        color: #385E81;
        margin: 1.875rem 0 1.5625rem 0;
    }

    .profile_textwrap .myprofile {
        width: 100%;
    }

    .profile_textwrap .myprofile li {
        font-size: 0.95rem;
    }

    .profile_textwrap .myskill {
        width: 100%;
        position: relative;
    }

    .myskill .pro_subtitle::before {
        bottom: 5%;
        left: 25%;
        font-size: 0.7rem;
    }

    .myskill strong {
        font-size: 1rem;
        text-transform: uppercase;
    }

    .myskill .skills {
        font-size: 0.9rem;
        flex-direction: column;
        align-items: flex-start;

        gap: 1.25rem;
    }

    .myskill .skills>span:hover {
        transform: inherit;
        box-shadow: inherit;
    }

    /* skill modal */
    .modal {
        width: 70%;
    }

    .modal_text {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .modal_text .close_btn {
        color: #ff0000;
        cursor: inherit;
    }

    .mycareer {
        font-size: 15.2px;
    }

    .modal_text .close_btn:hover {
        color: inherit;
        cursor: inherit;
    }

    /* responsive gallery page */

    .gallery_page h1 {
        font-size: 2.5rem;
    }

    .gallery_items h2 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5rem;
    }

    .gallery_items .gallery_item {
        margin: 2.1875rem;
    }

    .gi1 .gallery_item:nth-child(odd) {
        margin-right: 0%;
    }

    .gi1 .gallery_item:nth-child(even) {
        margin-left: 0%;
    }

    .gi2 .gallery_item:nth-child(odd) {
        margin-left: 0%;
    }

    .gi2 .gallery_item:nth-child(even) {
        margin-right: 0%;
    }

    .gallery_item .overlay {
        display: none;
    }

    .gallery_item .mo_overlay {
        display: block;
        color: #404040;
        font-size: 12.48px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        margin-top: 0.625rem;
        line-height: 1.8rem;
    }

    .mo_overlay span {
        display: block;
    }

    .pin_container a:hover {
        box-shadow: none;
    }

    .pin_container a:hover .overlay {
        opacity: inherit;
        visibility: inherit;
    }

    /* responsive portfolio page */
    .swiper-slide {
        margin: 8% 0;
        width: 100%;
    }

    .swiper-slide .swiper_inner {
        flex-direction: column-reverse;
    }

    .swiper-slide .slide_text {
        text-align: center;
    }

    .swiper-slide .slide_img {
        padding-right: 0.625rem;
    }

    .swiper-slide .slide_img img {
        width: 100%;
    }

    .slide_text h1 {
        text-align: center;
        font-size: 27.2px;
        margin-top: 3%;
    }

    .slide_text ul li {
        font-size: 14.4px;
    }

    .slide_text .slide_btns {
        gap: 1.25rem;
    }

    .slide_btns a {
        font-size: 12px;
    }

    .slide_img .one_img_app {
        margin: 0 0 1.25rem 0;
        width: 85%;
    }

    .slide_img .one_img {
        margin-left: 0;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 0.4375rem !important;
    }

    /* responsive contact */

    .contact_page h1 {
        font-size: 35.2px;
    }

    .contact_page .section_inner>p {
        font-size: 12.8px;
        line-height: 17.6px;
        width: 95%;
    }

    .contact_inner a {
        width: 80%;
        font-size: 12.8px;
    }

    .contact_inner a:hover {
        box-shadow: inherit;
    }

    .contact_inner p {
        font-size: 12.8px;
        padding-top: 1.875rem;
    }
}

/* mibile s size */
@media screen and (max-width: 26.5625rem) {
    .profile_page .profile_title {
        justify-content: space-around;
        font-size: 12.8px;
    }
    .profile_title .r_animation div {
        font-size: 14.4px;
    }
}
/*########## [end] responsive css ########## */
